{% extends 'base.html' %}
{% block body %}
  <h1>Créer un utilisateur</h1>
  <form method="post">
    <label>Nom d'utilisateur : <input type="text" name="username" required></label><br>
    <label>Mot de passe : <input type="password" name="password" required></label><br>
    <label>Email : <input type="email" name="email"></label><br>
    <label>ID Company : <input type="number" name="id_company" required></label><br>
    <label>Admin ? <input type="checkbox" name="is_admin"></label><br>
    <button type="submit">Créer</button>
  </form>
{% endblock %} 