{% extends 'base.html' %}

{% block body %}

<h2 class="section-title active-title">Agents actifs</h2>
<div class="agent-box active-box">
    {% for agent in agents %}
    <a href="/agent/{{ agent }}" class="agent-link">
        <div class="agent-container">
            <div class="agent-box-inner">
                <div class="agent-header">Agent {{ agent }}</div>
                <div class="agent-content">
                    <img src="../static/images/infected.png" class="agent-img">
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<h2 class="section-title inactive-title">Agents inactifs</h2>
<div class="agent-box inactive-box">
    {% for agent in not_active %}
    <a href="/agent/{{ agent }}" class="agent-link">
        <div class="agent-container inactive-container">
            <div class="agent-box-inner">
                <div class="agent-header">Agent {{ agent }}</div>
                <div class="agent-content">
                    <img src="../static/images/infected.png" class="agent-img">
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}